# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:air
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:air
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        biomesoplenty:sacred_oak_fence_gate
        biomesoplenty:cherry_fence_gate
        biomesoplenty:umbran_fence_gate
        biomesoplenty:fir_fence_gate
        biomesoplenty:ethereal_fence_gate
        biomesoplenty:magic_fence_gate
        biomesoplenty:mangrove_fence_gate
        biomesoplenty:palm_fence_gate
        biomesoplenty:redwood_fence_gate
        biomesoplenty:willow_fence_gate
        biomesoplenty:pine_fence_gate
        biomesoplenty:hellbark_fence_gate
        biomesoplenty:jacaranda_fence_gate
        biomesoplenty:mahogany_fence_gate
        biomesoplenty:ebony_fence_gate
        biomesoplenty:eucalyptus_fence_gate
        biomesoplenty:sacred_oak_door_block
        biomesoplenty:cherry_door_block
        biomesoplenty:umbran_door_block
        biomesoplenty:fir_door_block
        biomesoplenty:ethereal_door_block
        biomesoplenty:magic_door_block
        biomesoplenty:mangrove_door_block
        biomesoplenty:palm_door_block
        biomesoplenty:redwood_door_block
        biomesoplenty:willow_door_block
        biomesoplenty:pine_door_block
        biomesoplenty:hellbark_door_block
        biomesoplenty:jacaranda_door_block
        biomesoplenty:mahogany_door_block
        biomesoplenty:ebony_door_block
        biomesoplenty:eucalyptus_door_block
        railcraft:detector
        railcraft:force_track_emitter
        railcraft:admin_steam_producer
        railcraft:track_elevator
        aether:arkenium_door
        aether:greatroot_button
        aether:greatroot_fence_gate
        aether:greatroot_pressure_plate
        aether:holystone_button
        aether:holystone_pressure_plate
        aether:secret_skyroot_door
        aether:skyroot_button
        aether:skyroot_door
        aether:skyroot_fence_gate
        aether:skyroot_pressure_plate
        aether:therawood_fence_gate
        aether:wisproot_button
        aether:wisproot_fence_gate
        aether:wisproot_pressure_plate
        appliedenergistics2:security_station
        appliedenergistics2:quartz_growth_accelerator
        appliedenergistics2:crafting_unit
        appliedenergistics2:crafting_accelerator
        appliedenergistics2:crafting_storage_1k
        appliedenergistics2:crafting_storage_4k
        appliedenergistics2:crafting_storage_16k
        appliedenergistics2:crafting_storage_64k
        appliedenergistics2:crafting_monitor
        appliedenergistics2:molecular_assembler
        thaumcraft:activator_rail
        enderio:block_dark_steel_door
        enderio:block_self_resetting_lever5
        enderio:block_self_resetting_lever10
        enderio:block_self_resetting_lever30
        enderio:block_self_resetting_lever60
        enderio:block_self_resetting_lever300
        enderio:block_self_resetting_lever5i
        enderio:block_self_resetting_lever10i
        enderio:block_self_resetting_lever30i
        enderio:block_self_resetting_lever60i
        enderio:block_self_resetting_lever300i
        enderio:block_painted_fence_gate
        enderio:block_painted_wooden_door
        enderio:block_painted_iron_door
        enderio:block_painted_dark_steel_door
        twilightforest:twilight_oak_button
        twilightforest:twilight_oak_door
        twilightforest:twilight_oak_gate
        twilightforest:twilight_oak_plate
        twilightforest:canopy_button
        twilightforest:canopy_door
        twilightforest:canopy_gate
        twilightforest:canopy_plate
        twilightforest:mangrove_button
        twilightforest:mangrove_door
        twilightforest:mangrove_gate
        twilightforest:mangrove_plate
        twilightforest:dark_button
        twilightforest:dark_door
        twilightforest:dark_gate
        twilightforest:dark_plate
        twilightforest:time_button
        twilightforest:time_door
        twilightforest:time_gate
        twilightforest:time_plate
        twilightforest:trans_button
        twilightforest:trans_door
        twilightforest:trans_gate
        twilightforest:trans_plate
        twilightforest:mine_button
        twilightforest:mine_door
        twilightforest:mine_gate
        twilightforest:mine_plate
        twilightforest:sort_button
        twilightforest:sort_door
        twilightforest:sort_gate
        twilightforest:sort_plate
        tconstruct:slime_channel
        prefab:block_boundary
        tropicraft:bamboo_door
        tropicraft:bamboo_fence_gate
        tropicraft:thatch_fence_gate
        tropicraft:chunk_fence_gate
        tropicraft:palm_fence_gate
        tropicraft:mahogany_fence_gate
        midnight:shadowroot_door
        midnight:dark_willow_door
        midnight:dead_wood_door
        midnight:tenebrum_door
        midnight:nightshroom_door
        midnight:dewshroom_door
        midnight:viridshroom_door
        midnight:shadowroot_fence_gate
        midnight:dead_wood_fence_gate
        midnight:dark_willow_fence_gate
        midnight:dewshroom_fence_gate
        midnight:viridshroom_fence_gate
        midnight:nightshroom_fence_gate
        midnight:shadowroot_button
        midnight:dead_wood_button
        midnight:dark_willow_button
        midnight:dewshroom_button
        midnight:viridshroom_button
        midnight:nightshroom_button
        midnight:nightstone_button
        midnight:trenchstone_button
        midnight:rockshroom_bricks_button
        midnight:shadowroot_pressure_plate
        midnight:dead_wood_pressure_plate
        midnight:dark_willow_pressure_plate
        midnight:dewshroom_pressure_plate
        midnight:viridshroom_pressure_plate
        midnight:nightshroom_pressure_plate
        midnight:nightstone_pressure_plate
        midnight:trenchstone_pressure_plate
        midnight:rockshroom_bricks_pressure_plate
        midnight:midnight_lever
        davincisvessels:crate_wood
        dimdoors:gold_door
        dimdoors:quartz_door
        dimdoors:iron_dimensional_door
        dimdoors:gold_dimensional_door
        dimdoors:quartz_dimensional_door
        dimdoors:dimensional_portal
        dimdoors:oak_dimensional_door
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


